html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 1266px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-table {
    margin-top: 15px;
}

.el-pagination {
    margin-top: 15px;
}

.vcenter {
    display: flex;
    align-items: center;
}

/* 设置级联窗口的高度 */
.el-cascader-panel {
    height: 200px;
}

.el-steps {
    margin: 15px 0;
}

.el-step_title {
    font-size: 13px;
}
/* 设置富文本编辑器的高度 */
.ql-editor{
    min-height: 300px;
}